<h1>New Tuition Request</h1>
<p>Dear {{parentName}},</p>
<p>A new tuition request has been created for your child {{childName}}.</p>
<p><strong>Subject:</strong> {{subject}}</p>
<p><strong>Tutor:</strong> {{tutorName}}</p>
<p><strong>Fees:</strong> ${{fees}}</p>
<p>Please log in to your dashboard to review and accept the request.</p>
<p><a href='{{dashboardUrl}}'>Go to Dashboard</a></p>